h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

span {
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
}

span a {
  color: black;
  justify-content: space-between;
}

 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
